<a href="https://colab.research.google.com/github/skydolphine/machine-learning-model-for-detecting-email-spams/blob/main/detecting_email_spams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
data_to_load = files.upload()

Creating a dataframe for visualization.

In [7]:
import pandas as pd
df = pd.read_csv("spam.csv")
df.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

turning the category column into numerical values,1=spam, 0=not spam

In [8]:
df['is_spam?']=df['Category'].apply(lambda x:1 if x=="spam" else 0)
df=df.drop("Category",axis=1)
df

                                                Message  is_spam?
0     Go until jurong point, crazy.. Available only ...         0
1                         Ok lar... Joking wif u oni...         0
2     Free entry in 2 a wkly comp to win FA Cup fina...         1
3     U dun say so early hor... U c already then say...         0
4     Nah I don't think he goes to usf, he lives aro...         0
...                                                 ...       ...
5567  This is the 2nd time we have tried 2 contact u...         1
5568               Will ü b going to esplanade fr home?         0
5569  Pity, * was in mood for that. So...any other s...         0
5570  The guy did some bitching but I acted like i'd...         0
5571                         Rofl. Its true to its name         0

[5572 rows x 2 columns]

creating training and testing data sets

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df["Message"],df["is_spam?"],train_size=0.8)

transforming the message column into a word count matrix and then fit the model and evaluate model's accuracy

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

vectorizor = CountVectorizer()
X_train_count = vectorizor.fit_transform(X_train)


model = MultinomialNB()
model.fit(X_train_count,y_train)
model.score(vectorizor.transform(X_test),y_test)

0.9820627802690582

In [27]:
model.predict(vectorizor.transform(["sale is now on, 50% off everything, offer ends on Monday"]))

array([1])

creating a pipelione for future use

In [45]:
from sklearn.pipeline import Pipeline
pipe = Pipeline([
                 ('scaler', CountVectorizer()), ('svc', MultinomialNB())
                 ])

pipe.fit(X_train,y_train)
pipe.score(X_test,y_test)
pipe.predict([" Sale is now on! 50% off everything, offer ends on Monday!"])

array([1])